h1{
    color: rgb(81, 255, 0);
}
p{
    color: gold;
}
button{
    color: rgb(31, 44, 34);
}
body{
    background-color :#5bba6f
}
button{
    background-color: aquamarine;
}
h1{
    text-align: center;
    text-decoration:blueviolet underline;
}
p{
    text-align: center;
}
